.contact {
  &__hero {
    position: relative;
    min-height: 380px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 834px) {
        min-height: 200px;
    }
  }

  &__hero-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__hero-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;
      display: block;
    }
  }

  &__hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: clamp(2.25rem, 4vw, 3.5rem);
    line-height: 125%;
    text-align: center;
    color: #fff;
  }
}

.breadcrumbs {
  position: absolute;
  top: 26px;
  left: 0;
  z-index: 2;

  @media screen and (max-width: 834px) {
    left: 16px;
    top: 16px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    list-style: none;
  }

  &__sep {
    display: inline-flex;
  }

  &__link {
    font-family: var(--second-family);
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: #dfdfdf;
  }

  &__current {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #dfdfdf;
  }
}

/* Contact content */
.contact__content {
  &-section {
    margin: 80px 0;

    @media screen and (max-width: 834px) {
        margin: 24px 0;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 834px) {
        gap: 16px;
    }
  }

  &-description {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(0.938rem, 2vw, 1.5rem);
    line-height: 150%;
    text-align: center;
    color: #5a5b5c;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding: 40px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
  }

  &-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;

    max-width: 416px;
    width: 100%;

    @media screen and (max-width: 834px) {
        max-width: 100%;
    }
  }

  &-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @media screen and (max-width: 834px) {
        flex-direction: column;
        gap: 8px;
    }
  }

  &-info-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 0.938rem;
    line-height: 147%;
    color: #606060;
  }

  &-info-value {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 147%;
    color: #212322;
  }

  &-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding: 40px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: center;
  }

  &-location-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 240px;
    width: 100%;
  }

  &-location-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 0.938rem;
    line-height: 147%;
    color: #606060;
  }

  &-location-address {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 147%;
    text-align: center;
    color: #606060;
  }
}
