*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;

  &:hover,
  &:focus {
    outline: none;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

input,
textarea {
  &:focus {
    outline: 2px solid #007acc;
    outline-offset: 2px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}

p {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

a:active,
a:hover {
  outline: 0;
}

a {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;

  &:hover {
    background: #a8a8a8;
  }
}
