@use "reset";
@use "base";
@use "components/header";
@use "components/footer";
@use "pages/about";
@use "pages/cart";
@use "pages/collection";
@use "pages/contact";
@use "pages/account";
@use "pages/product";
@use "pages/recommended-products";
@use "pages/search";

.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 1100px) {
    align-items: flex-start;
  }

  &__background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;
      display: block;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    backdrop-filter: blur(28.100000381469727px);
    background: rgba(239, 239, 239, 0.2);

    border-radius: 10px;
    padding: 16px 20px;

    max-width: 541px;
    width: 100%;
    margin-top: 75px;

    @media screen and (max-width: 1100px) {
      margin-top: 16px;
    }

    @media screen and (max-width: 480px) {
      backdrop-filter: none;
      background: transparent;
      padding: 0;
    }
  }

  &__content-title {
    font-weight: 700;
    font-size: clamp(2.25rem, 4vw, 4rem);
    line-height: 122%;
    text-transform: uppercase;
    color: #212322;
    .home__content-title-line {
      display: block;
    }
    .home__content-title-line--row {
      display: inline-flex;
      width: 100%;
      padding-left: 40px;
    }
    .home__content-title-part.is-light {
      font-weight: 200;
      letter-spacing: 0.02em;
      font-style: italic;
    }
  }

  &_content-title-wrapper {
    display: flex;
  }

  &__content-txt {
    font-weight: 400;
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    line-height: 144%;
    color: #605e5c;
    margin-top: 16px;
  }

  &__content-btn {
    font-weight: 400;
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    line-height: 143%;
    color: #fafaf8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px 32px;
    background: #212322;
    width: 186px;
    text-decoration: none;
    margin-top: 40px;

    @media screen and (max-width: 480px) {
      margin-top: 16px;
    }
  }
}